<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szubd.rsp.mapper.GlobalRSPInfoMapper">
    <insert id="createHDFSFile" parameterType="com.szubd.rsp.file.GlobalRSPInfo">
        insert into globalrspinfos (super_name, globalrsp_name, blocks, length, avg_block_size, node_id, is_modified, is_deleted, is_sync)
        values (#{superName}, #{globalrspName}, 0, 0, 0, #{nodeId}, 1, 0, 0)
    </insert>

    <insert id="insertFile" parameterType="com.szubd.rsp.file.GlobalRSPInfo">
        insert into globalrspinfos (super_name, globalrsp_name, blocks, length, avg_block_size, node_id, is_modified, is_deleted, is_sync)
        values (#{superName}, #{globalrspName}, #{blocks}, #{length}, #{avgBlockSize}, #{nodeId}, 1, 0, 0)
    </insert>

    <insert id="insertFiles" parameterType="java.util.List">
        insert into globalrspinfos (super_name, globalrsp_name, blocks, length, avg_block_size, node_id, is_modified, is_deleted, is_sync) values
        <foreach collection="list" item="item" separator=",">
            (#{item.superName}, #{item.globalrspName}, #{item.blocks}, #{item.length},#{item.avgBlockSize}, #{item.nodeId}, 1, 0, 0)
        </foreach>
    </insert>

    <update id="deleteSonDirectoryTemp" parameterType="com.szubd.rsp.file.GlobalRSPInfo">
        update globalrspinfos set is_deleted = 1, is_modified = 1
        where super_name = #{superName} and globalrsp_name = #{globalrspName}
    </update>

<!--    <delete id="deleteFatherDirectory">-->
<!--        delete from rspinfos where super_name = #{superName}-->
<!--    </delete>-->

    <delete id="deleteFatherDirectoryTemp">
        update globalrspinfos set is_deleted = 1, is_modified = 1
        where super_name = #{superName}
    </delete>

    <update id="updateHDFSFile" parameterType="com.szubd.rsp.file.GlobalRSPInfo">
        update globalrspinfos set blocks = #{blocks}, length = #{length}, avg_block_size=#{avgBlockSize}, is_modified = 1
                        where super_name = #{superName} and globalrsp_name = #{globalrspName}
    </update>

<!--    <update id="updateFileByName">-->
<!--        update rspinfos set super_name = #{oriSuperName}, name = #{dstName}, is_modified = 1-->
<!--                        where super_name = #{oriSuperName} and name = #{oriName}-->
<!--    </update>-->

<!--    <update id="updateFileBySuperName">-->
<!--        update rspinfos set super_name = #{oriSuperName}, is_modified = 1-->
<!--                        where super_name = #{oriSuperName}-->
<!--    </update>-->

<!--    <select id="queryAll" resultType="com.szubd.rsp.file.OriginInfo">-->
<!--        select * from rspinfos-->
<!--    </select>-->

    <select id="queryModifiedGlobalRsp" resultType="com.szubd.rsp.file.GlobalRSPInfo">
        select * from globalrspinfos where is_modified = 1 and is_deleted = 0
    </select>

    <select id="queryBySuperName" resultType="com.szubd.rsp.file.GlobalRSPInfo">
        select * from globalrspinfos where super_name = #{superName};
    </select>

    <select id="queryBySuperNameAndGlobalrspName" resultType="com.szubd.rsp.file.GlobalRSPInfo">
        select * from globalrspinfos where super_name = #{superName} and globalrsp_name = #{globalrspName};
    </select>

    <select id="queryForDeleted" resultType="com.szubd.rsp.file.GlobalRSPInfo">
        select * from globalrspinfos where is_modified = 1 and is_deleted = 1 and is_sync = 1
    </select>

    <update id="updateModifiedStatus" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE globalrspinfos SET is_modified = 0, is_sync = 1 WHERE id=#{item.id}
        </foreach>
    </update>

    <delete id="updateDeletedStatus" parameterType="java.util.List">
<!--        <foreach collection="list" item="item" separator=";">-->
<!--            delete from rspinfos where super_name = #{item.superName} and name = #{item.name}-->
<!--        </foreach>-->
        delete from globalrspinfos where (super_name, globalrsp_name) in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            (#{item.superName}, #{item.globalrspName})
        </foreach>
    </delete>

    <delete id="deleteInfo" parameterType="com.szubd.rsp.file.GlobalRSPInfo">
        delete from globalrspinfos where
                                      super_name = #{superName} and
                                      globalrsp_name = #{globalrsp_name}
    </delete>
</mapper>
