<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szubd.rsp.service.job.JobLogoInfoMapper">
    <select id="listAllJobInfo" resultType="com.szubd.rsp.job.JobLogoInfo">
        select * from joblogoinfos
    </select>

    <insert id="insertJobInfo" useGeneratedKeys="true" keyProperty="jobId" parameterType="com.szubd.rsp.job.JobLogoInfo">
        insert into
            joblogoinfos (user_id, job_id, job_name, job_status, job_start_time, job_end_time, job_type, running_host,executors,cores,memory, args, algo_args)
        values
            (#{userId}, #{jobId}, #{jobName}, #{jobStatus}, #{jobStartTime}, #{jobEndTime}, #{jobType}, #{runningHost},#{executors},#{cores},#{memory}, #{argsJsonString}, #{algoArgsJsonString})
    </insert>

    <update id="updateJobInfo" parameterType="com.szubd.rsp.job.JobLogoInfo">
        update joblogoinfos
        <set>
            job_status = #{jobStatus}, job_end_time = #{jobEndTime}, running_host = #{runningHost}, executors = #{executors},cores = #{cores}, memory = #{memory},args = #{argsJsonString}, algo_args = #{algoArgsJsonString}
        </set>
        where job_id = #{jobId}
    </update>

    <select id="getAvaliableJobId" resultType="java.lang.Integer">
        select max(job_id) from joblogoinfos
    </select>

</mapper>
