<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szubd.rsp.service.file.origin.OriginInfoMapper">
    <select id="queryAll" resultType="com.szubd.rsp.file.OriginInfo">
        select * from rspinfos
    </select>

    <select id="queryAllFather" resultType="com.szubd.rsp.file.OriginInfo">
        select distinct super_name from rspinfos
    </select>

    <select id="queryAllFatherByNodeId" resultType="com.szubd.rsp.file.OriginInfo">
        select distinct super_name from rspinfos where node_id = #{nodeId}
    </select>

    <select id="querySingle" resultType="com.szubd.rsp.file.OriginInfo">
        select * from rspinfos where node_id = #{nodeId}
    </select>

    <select id="queryByName" resultType="com.szubd.rsp.file.OriginInfo">
        select * from rspinfos where name = #{name}
    </select>

    <select id="listFileDistribution" resultType="com.szubd.rsp.file.OriginInfo">
        select distinct node_id from rspinfos where super_name = #{superName}
    </select>

    <select id="queryBySuperName" resultType="com.szubd.rsp.file.OriginInfo">
        select * from rspinfos where super_name = #{superName}
    </select>
    <select id="queryBySuperNameAndId" resultType="com.szubd.rsp.file.OriginInfo">
        select * from rspinfos where super_name = #{superName} and node_id = #{nodeId}
    </select>

    <insert id="updateInfos" parameterType="java.util.List">
        insert into rspinfos (super_name, name, blocks, length, avg_block_size, node_id, localrsp_file_num, globalrsp_file_num)
        values
            <foreach collection="list" item="item" separator=",">
            (#{item.superName}, #{item.name}, #{item.blocks}, #{item.length}, #{item.avgBlockSize}, #{item.nodeId}, #{item.localrspFileNum}, #{item.globalrspFileNum})
            </foreach>
        on duplicate key update blocks = VALUES(blocks),length = VALUES(length),avg_block_size = VALUES(avg_block_size)
    </insert>


    <delete id="deleteInfos" parameterType="java.util.List">
        delete from rspinfos where (super_name, name, node_id) in
        <foreach collection="list" item="item" separator="," open="(" close=")">
             (#{item.superName}, #{item.name}, #{item.nodeId})
        </foreach>
    </delete>
</mapper>
